/* *{
  margin: 0;
  padding: 0;
} */

img {
  width: 100%;
}

.bgg {
  background-color: #9DBF17;
  padding: 10px 0 1px;
  overflow: hidden;
}

.boxLeft {
  width: 30%;
  float: left;
  color: #FFF;
  font-size: 17px;
}

.boxMid {
  width: 50%;
  float: left;
}

.boxLeft p {
  font-size: 14px;
}

.boxLeft span {
  display: block;
}

.boxLeft>.input-group {
  width: 444px;
  background-color: #9DBF17;
}

.boxRight {
  width: 20%;
  float: right;
}

.boxRight a {
  color: #FFF;
}

.boxRight ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.input-group-append button {
  color: #FFF;
}

.nav-item:hover .menucon-sp {
  list-style: none;
  display: block;
  position: absolute;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.homePage {
  padding: 5px 5px;
  background-color: #9DBF17;
}

div#navbarSupportedContent {
  margin-top: 10px;
  margin-left: 10px;
}

.cart {
  margin-left: 15px;
  margin-top: -15px;
  border: 1px solid #CCC;
}

.cart img {
  width: 40px;
}

.carousel-inner img {
  height: 100%;
}

.container h2 {
  font-size: 24px;
}

.col5 {
  width: 19.2%;
  float: left;
}

.mar-2 {
  margin-right: 1%;
}

.title {
  background-color: #E6BA7C;
  width: 205px;
  color: #FFF;
}

.col-2 {
  width: 16.66666667%;
  float: left;
}

.col-10 {
  width: 83.33333333%;
  float: left;
}

.box1 {
  width: 40%;
  float: left;
}

.box2 {
  width: 60%;
  float: left;
}

.col-4 {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

.box-full {
  width: 100%;
  float: left;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #9DBF17;
}

.dropdown-item:hover{
  background-color: #9DBF17;
}
.bbg {
  background-color: #EAEAEA;
}

.col4 {
  width: 24%;
  float: left;
}

.card {
  padding: 10px;
}

.card-body {
  padding: 10px 5px;
}

.card-text {
  font-size: 14px;
}

.card-gia {
  font-size: 16px;
  color: red;
}

.goclamdep {
  padding: 0;
}

.xemthem {
  color: red;
  text-align: right;
}

footer img {
  width: 50px;
  margin-left: 35%;
}

.col-3 p {
  text-align: center;
}

.product .col-2, .col-10 {
  padding-left: 10px;
  padding-right: 0;
}

.price-product {
  padding: 10px 10px;
  background-color: #EEEEEE;
}

.price-product p {
  color: red;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
}

.price-product span {
  margin-left: 50px;
  color: #000;
  text-decoration: line-through;
  font-size: 1rem;
  font-weight: normal;
}

.product {
  margin-top: 40px;
  margin-bottom: 80px;
}

.quantity span {
  padding: 5px 15px;
  border: 1px solid #CCC;
  margin-left: 50px;
}

.quantity .col-6 p {
  margin-left: 8px;
}

.add p, h5 {
  text-align: center;
}

p.phone {
  color: #0781C7;
  text-align: center;
}

.add {
  color: #FFF;
}

.add-cart {
  margin: 0 -10px;
  padding: 10px;
  background-color: #D61C1F;
}

.buy-fast {
  margin: 0 -10px;
  padding: 10px;
  background-color: #9dbf17;
}

.col-62 {
  float: left;
  width: 49%;
}

.mr2 {
  margin-right: 2%;
}

.add p, h5 {
  margin: 0 0;
}

.wrapinner {
  width: 40%;
  margin: 0 auto;
}

.box-dangnhap {
  width: 50%;
  margin: 50px auto;
}

.gach2 {
  float: left;
  border: 1px #CCC solid;
  width: 250px;
  margin-top: 15px;
}

.boxphai .input-email {
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 10px;
  border: 1px solid #CCC;
  color: #ffc4c4;
}

.textcenter {
  margin-left: 30%;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 35px;
}

input {
  width: calc(100% - 24px);
  padding: 8px 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #cccccc;
}

input[type="submit"] {
  width: 96%;
  background-color: #9DBF17;
  color: white;
  border-radius: 5px;
  border: 0;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 0 10px;
}
p.text-dn{
  margin-left: 50px;
}

.dangnhap input[type="submit"]{
  width: 50%;
  margin-left: 25%;
}
input[type="submit"]:hover {
  background-color:rgba(157,191,23,0.8);
}

span:hover {
  color: #0275d8;
}

ul.dk li {
  list-style: none;
  text-align: center;
  margin: 7px 0;
}

ul.dk li>a {
  color: #000;
}
.centerdangki p {
  margin-top: 0;
  margin-bottom: 5px;
}

input{
  outline: none;
}