<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The faceshop</title>

    <!-- Link fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../view/css/bootstrap.min.css">

    <!-- Link css tự viết -->
    <link rel="stylesheet" href="../view/css/style.css">
</head>

<body>
    <!-- Start header  -->
    <header>
        <div class="container-fluid bgg">
            <div class="container">
                <div class="row">
                    <div class="boxLeft">
                        <p>Hotline: 0968863377
                            <span>Email: tfsonline@hsvgroup.com.vn</span>
                        </p>
                    </div>
                    <div class="boxMid">
                        <form action="#" method="post">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Bạn cần tìm gì?..."
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">Tìm kiếm</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="boxRight mt-2">
                        <ul>
                            <li><a href="#">Đăng nhập</a></li>
                            <li><a href="dangki.html">Đăng kí</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-3">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">
                        <img src="../view/img/logo.webp" alt="">
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active mr-2">
                                <a class="nav-link homePage" href="#">Trang chủ <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown buttonPage">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Khuyến mãi
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">DR.BELMEUR DAY-Giảm đến 50%</a>
                                        <a class="dropdown-item" href="#">INK LASTING - MUA 1 TẶNG 1</a>
                                        <a class="dropdown-item" href="#">COMBO HOT</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Bán chạy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Hàng mới về</a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown buttonPage">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Danh mục sản phẩm
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Dưỡng da</a>
                                        <a class="dropdown-item" href="#">Làm sạch</a>
                                        <a class="dropdown-item" href="#">Trang điểm nền</a>
                                        <a class="dropdown-item" href="#">Chăm sóc cơ thể</a>
                                        <a class="dropdown-item" href="#">Dòng sản phẩm</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog làm đẹp</a>
                            </li>
                            <li class="nav-item cart">
                                <a class="nav-link" href="#"><img src="../view/img/cart.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Finish header -->

    <!-- Form đăng kí -->
    <div class="wrapinner">
        <div class="centerdangki">
            <div class="row textcenter">
                <p class="text-dn">ĐĂNG NHẬP</p>
            </div>
            <input type="email" name="" id="" placeholder="Email">
            <input type="password" name="" id="" placeholder="Mật khẩu">
            <div class="dangnhap">
                <input type="submit" value="ĐĂNG NHẬP">
            </div>
            <ul class="dk">
                <li><a href="#">Đăng nhập</a></li>
                <li><a href="#">Quên mật khẩu</a></li>
            </ul>
        </div>
    </div>

    <!-- Start footer  -->
    <footer>
        <div class="container mt-5">
            <div class="row">
                <div class="col-3">
                    <img src="img/phone.webp" alt="">
                    <p>Hotline: 1900 636 510 (Từ 9 - 21h)<p>
                </div>
                <div class="col-3">
                    <img src="img/hotro.png" alt="">
                    <p>Hỗ Trợ Đơn Hàng: <p>
                    <p>Thegioiskinfood@Gmail.Com</p>
                </div>
                <div class="col-3">
                    <img src="img/lienhe.png" alt="">
                    <p>Liên Hệ Hợp Tác: <p>
                    <p>Sales@Thegioiskinfood.Com</p>
                </div>
                <div class="col-3">
                    <img src="img/diachi.png" alt="">
                    <p>100 Hoàng Hoa Thám, Phường 12, Quận Tân Bình<p>
                </div>
            </div>
        </div>
        <div class="bbg container-fluid mt-5">
            <div class="container">
            </div>
        </div>
    </footer>
    <!-- Finish home  -->
</body>

</html>