<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The faceshop</title>

    <!-- Link fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../view/css/bootstrap.min.css">

    <!-- Link css tự viết -->
    <link rel="stylesheet" href="../view/css/style.css">
</head>

<body>
    <!-- Start header  -->
    <header>
        <div class="container-fluid bgg">
            <div class="container">
                <div class="row">
                    <div class="boxLeft">
                        <p>Hotline: 0968863377
                            <span>Email: tfsonline@hsvgroup.com.vn</span>
                        </p>
                    </div>
                    <div class="boxMid">
                        <form action="#" method="post">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Bạn cần tìm gì?..."
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">Tìm kiếm</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="boxRight mt-2">
                        <ul>
                            <li><a href="#">Đăng nhập</a></li>
                            <li><a href="dangki.html">Đăng kí</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-3">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">
                        <img src="../view/img/logo.webp" alt="">
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active mr-2">
                                <a class="nav-link homePage" href="#">Trang chủ <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown buttonPage">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Khuyến mãi
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">DR.BELMEUR DAY-Giảm đến 50%</a>
                                        <a class="dropdown-item" href="#">INK LASTING - MUA 1 TẶNG 1</a>
                                        <a class="dropdown-item" href="#">COMBO HOT</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Bán chạy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Hàng mới về</a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown buttonPage">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Danh mục sản phẩm
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Dưỡng da</a>
                                        <a class="dropdown-item" href="#">Làm sạch</a>
                                        <a class="dropdown-item" href="#">Trang điểm nền</a>
                                        <a class="dropdown-item" href="#">Chăm sóc cơ thể</a>
                                        <a class="dropdown-item" href="#">Dòng sản phẩm</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog làm đẹp</a>
                            </li>
                            <li class="nav-item cart">
                                <a class="nav-link" href="#"><img src="../view/img/cart.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Finish header -->

    <!-- Start home  -->
    <section>
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class=""></li>
                <li data-target="#demo" data-slide-to="1" class="active"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="../view/img/banner_silder_4.jpg" alt="Los Angeles" width="1100" height="500">
                </div>
                <div class="carousel-item active">
                    <img src="../view/img/banner_silder_5.jpg" alt="Chicago" width="1100" height="500">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <div class="container py-3">
            <div class="row">
                <div class="row">
                    <h2>INK LASTING - MUA 1 TẶNG 1</h2>
                </div>
                <div class="row mb-5 mt-2">
                    <div class="col5 mar-2">
                        <div class="card">
                            <img class="card-img-top" src="../view/img/hinh1.webp" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Bộ Sản Phẩm Làm Sạch & Phấn Nước Trang Điểm DR.BELMEUR ADVANCED
                                    CICA
                                </p>
                                <p class="card-gia">400.000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col5 mar-2">
                        <div class="card">
                            <img class="card-img-top" src="../view/img/hinh2.webp" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Bộ Sản Phẩm Dành Cho Da Dầu Mụn DR.BELMEUR (CLARIFYING + FACE MILD)
                                </p>
                                <p class="card-gia">400.000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col5 mar-2">
                        <div class="card">
                            <img class="card-img-top" src="../view/img/hinh3.webp" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Kem Nền Đa Năng INK LASTING FOUNDATION SLIM FIT SPF30 PA++ 30ML
                                    CICA
                                </p>
                                <p class="card-gia">400.000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col5 mar-2">
                        <div class="card">
                            <img class="card-img-top" src="../view/img/hinh4.webp" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">[FMGT] Kem Nền Lâu Trôi Chống Nắng INK LASTING FOUNDATION SLIM FIT
                                    EX</p>
                                <p class="card-gia">400.000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col5">
                        <div class="card">
                            <img class="card-img-top" src="../view/img/hinh5.webp" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Phấn Nước Lâu Trôi INK LASTING CUSHION SPF 30 PA++15g FOUNDATION
                                    SLIM
                                </p>
                                <p class="card-gia">400.000đ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="row nav">
                    <a class="nav-link active title py-2 " href="#">DƯỠNG DA</a>
                    <a class="nav-link" href="#">Các sản phẩm</a>
                    <a class="nav-link" href="#">Nước cân bằng</a>
                    <a class="nav-link" href="#">Tinh chất</a>
                    <a class="nav-link" href="#">Kem dưỡng</a>
                    <a class="nav-link" href="#">Kem chống nắng</a>
                </nav>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10">
                        <div class="box1">
                            <img src="../view/img/duongda-1.webp" alt="">
                        </div>
                        <div class="box2">
                            <div class="col-4">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh6.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Dưỡng Ẩm, Làm Sáng Da</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh7.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Dưỡng Ẩm Phục Hồi Da </p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh8.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Dưỡng Ẩm, Phục Hồi Da </p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-full mt-2">
                            <div class="col5 mar-2">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh9.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Cấp Ẩm Chuyên Sâu, Làm Dịu</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col5 mar-2">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh10.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Dưỡng Ẩm, Phục Hồi Da</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col5 mar-2">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh11.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Cấp Ẩm Chuyên Sâu, Làm Dịu</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col5 mar-2">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh12.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Dưỡng Ẩm, Phục Hồi Da DR.</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col5">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh13.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Tăng Cường Ẩm, Săn Chắc</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <nav class="row nav mt-5">
                    <a class="nav-link active title py-2 " href="#">DƯỠNG DA</a>
                    <a class="nav-link" href="#">Các sản phẩm</a>
                    <a class="nav-link" href="#">Sữa rửa mặt</a>
                    <a class="nav-link" href="#">Dầu tẩy trang</a>
                    <a class="nav-link" href="#">Kem tẩy trang</a>
                    <a class="nav-link" href="#">Mặt nạ kì</a>
                </nav>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10">
                        <div class="box1">
                            <img src="../view/img/dasach.webp" alt="">
                        </div>
                        <div class="box2">
                            <div class="col-4">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh19.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh20.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh21.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-full mt-2">
                            <div class="col5 mar-2">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh14.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Cấp Ẩm Chuyên Sâu, Làm Dịu</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col5 mar-2">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh15.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Dưỡng Ẩm, Phục Hồi Da</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col5 mar-2">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh16.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Cấp Ẩm Chuyên Sâu, Làm Dịu</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col5 mar-2">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh17.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Dưỡng Ẩm, Phục Hồi Da DR.</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col5">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh18.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Tăng Cường Ẩm, Săn Chắc</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <nav class="row nav mt-5">
                    <a class="nav-link active title py-2 " href="#">DƯỠNG DA</a>
                    <a class="nav-link" href="#">Các sản phẩm</a>
                    <a class="nav-link" href="#">Sữa rửa mặt</a>
                    <a class="nav-link" href="#">Dầu tẩy trang</a>
                    <a class="nav-link" href="#">Kem tẩy trang</a>
                    <a class="nav-link" href="#">Mặt nạ kì</a>
                </nav>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10">
                        <div class="box1">
                            <img src="../view/img/dasach.webp" alt="">
                        </div>
                        <div class="box2">
                            <div class="col-4">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh19.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh20.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh21.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-full mt-2">
                            <div class="col5 mar-2">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh14.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Cấp Ẩm Chuyên Sâu, Làm Dịu Da</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col5 mar-2">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh15.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Dưỡng Ẩm, Phục Hồi Da</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col5 mar-2">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh16.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Cấp Ẩm Chuyên Sâu, Làm Dịu Da</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col5 mar-2">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh17.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Dưỡng Ẩm, Phục Hồi Da DR.</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col5">
                                <div class="card">
                                    <img class="card-img-top" src="../view/img/hinh18.webp" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Bộ Sản Phẩm Tăng Cường Ẩm, Săn Chắc Da</p>
                                        <p class="card-gia">400.000đ</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <h2>GÓC LÀM ĐẸP</h2>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="card goclamdep">
                            <img class="card-img-top" src="../view/img/goclamdep-hinh1.webp" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">THE SOLUTION FACE MASK GIẢI QUYẾT MỌI VẤN ĐỀ CHO LÀN DA...</p>
                                <p class="xemthem">Xem thêm</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card goclamdep">
                            <img class="card-img-top" src="../view/img/goclamdep-hinh2.webp" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">CÁCH TẠO LỚP NỀN HOÀN HẢO TỪ 2 MÀU KEM NỀN...</p>
                                <p class="xemthem">Xem thêm</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card goclamdep">
                            <img class="card-img-top" src="../view/img/goclamdep-hinh3.webp" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">TỪ ĐIỂN CÁC LOẠI MẶT NẠ BẠN CẦN ĐỂ CÓ LÀN DA ĐẸP...</p>
                                <p class="xemthem">Xem thêm</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card goclamdep">
                            <img class="card-img-top" src="../view/img/goclamdep-hinh4.webp" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">MUA MỸ PHẨM THEFACESHOP CHÍNH HÃNG Ở ĐÂU?...</p>
                                <p class="xemthem">Xem thêm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Finish home -->

    <!-- Start footer  -->
    <footer>
        <div class="container mt-5">
            <div class="row">
                <div class="col-3">
                    <img src="img/phone.webp" alt="">
                    <p>Hotline: 1900 636 510 (Từ 9 - 21h)<p>
                </div>
                <div class="col-3">
                    <img src="img/hotro.png" alt="">
                    <p>Hỗ Trợ Đơn Hàng: <p>
                    <p>Thegioiskinfood@Gmail.Com</p>
                </div>
                <div class="col-3">
                    <img src="img/lienhe.png" alt="">
                    <p>Liên Hệ Hợp Tác: <p>
                    <p>Sales@Thegioiskinfood.Com</p>
                </div>
                <div class="col-3">
                    <img src="img/diachi.png" alt="">
                    <p>100 Hoàng Hoa Thám, Phường 12, Quận Tân Bình<p>
                </div>
            </div>
        </div>
        <div class="bbg container-fluid mt-5">
            <div class="container">
            </div>
        </div>
    </footer>
    <!-- Finish home  -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../view/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../view/js/popper.min.js"></script>
    <script src="../view/js/bootstrap.min.js"></script>


</body>

</html>